.col-md-12 > label{
    margin: 20px;
}

#download,
#generatePdf,
#abrir,
#generateFile{
    width: 100%;
}

.update-graph{
  position: absolute;
  right: 15px;
  outline: none;
  border: 1px solid #005a87;
  background-color: transparent;
  color: #005a87;
  height: 30px;
  width: 30px;
  transition: 400ms;
}

.update-graph:hover{
  transform: rotate(180deg);
  color: white;
  background-color: #005a87;
}

@media(max-width: 768px){
    #generatePdf,
    #download,
    #abrir,
    button{
        margin-bottom: 10px;
        width: 100%;
    }
}
