.validate-date{
    display: none;
    position: absolute;
    background-color: #ecf0f5;
    border: 2px solid #222d32;
    border-radius: 5px;
    height: 50px;
    padding: 13px;
}

#selectedFilesD img{
  max-width: 180px;
  max-height: 180px;
  float: left;
}
#userActions input {
  width: auto;
  margin: auto;
}

.img-combo{
  position: relative;
  display: inline-block;
  max-width: 180px;
  max-height: 180px;
  margin-top: 10px;
}

.img-combo:not(:first-child){
  margin-left : 10px;
}

.baixar{
  position: absolute;
  bottom: 0;
  right: 5px;
  text-decoration: none;
  color: #666;
}

.delete{
  position: absolute;
  bottom: 0;
  right: 5px;
  text-decoration: none;
  color: #666;
}

.delete:hover{
  color: #ccc;
  animation: trash 300ms alternate;
}

@keyframes trash{
  0%{transform: rotate(180deg);}
      100%{transform: rotate(360deg);}
}
