@media(max-width: 768px){
    .col-responsive-span{
        text-align: center;
        margin-bottom: 10px;
    }
    .table-location{
        margin-top: 0px !important;
    }
    .total .fa{
      top: 330px;
      font-size: 14px;
    }
    .box-title{
      font-size: 0.9em !important;
    }
}
