input[type="email"],
input[type="text"],
input[type="password"],
input[type="number"],
input[type="tel"],
select{
    height: 40px !important;
    margin-bottom: 20px;
}

button,
a,
input,
button,
textarea{
    outline: none !important;
}

.modal-header{
    background-color: #e6e6e6 !important;
}

textarea{
    margin-bottom: 20px;
}

span.label{
    font-family: 'Source Sans Pro Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.perc-0{
    color: #606060;
}

.perc-1{
    color: white;
}

.tooltip-ticket,
.tooltip-contract,
.tooltip-info-msg,
.tooltip-info{
    z-index: 999;
    position: absolute;
    display: none;
    padding: 10px;
    background-color: #ecf0f5;
    border: 2px solid #222d32;
    border-radius: 5px;
    right: 30px;
}

@media(max-width: 768px){
    .panel-footer,
    .box-header{
        text-align: center;
    }
}
